<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Кольорові диски - це гра, в яку грають на підставці з вертикальною паличкою та кількома паперовими дисками з отвором у центрі. Диски мають різні радіуси та кольори. Коли всі диски складені один на одного, кількість кольорів, які можна побачити зверху, є рахунком у цій грі. Таким чином, диски, які не видно зверху, не зараховуються.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}colorful-disks.svg" alt="example" style="max-height: 200px"/>
</p>
<p style="text-align: justify;">
    Знаючи радіуси дисків у порядку їх розміщення на паличці (від нижнього до верхнього), обчисліть рахунок, коли всі диски будуть складені в стопку.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Кортеж цілих чисел <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>Ця місія була взята з <a target="_blank" href="https://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=0431">AIZU ONLINE JUDGE</a></i></p>