<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Colorful Disks est un jeu qui se joue sur une base avec un bâton vertical et des disques de papier avec un trou au centre. Les disques ont tous des rayons et des couleurs différents. Lorsque tous les disques sont empilés les uns sur les autres, le nombre de couleurs que l'on peut voir d'en haut constitue le score de ce jeu. Les disques qui ne peuvent pas être vus d'en haut ne sont donc pas comptabilisés.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}colorful-disks.svg" alt="example" style="max-height: 200px"/>
</p>
<p style="text-align: justify;">
    Etant donné les rayons des disques dans l'ordre où ils sont placés sur le bâton (du plus petit au plus grand), calculez le score lorsque tous les disques sont empilés.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Tuple d'entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>Cette mission a été réalisée à partir de <a target="_blank" href="https://judge.u-aizu.ac.jp/onlinejudge/description.jsp?id=0431">AIZU ONLINE JUDGE</a></i></p>